<meta charset="utf-8">
<meta name="description" content="Address Page">
<meta name="author" content="Jota/Leandro">

<div data-ng-controller="addressController">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<h3>{{ title }}</h3>
				</div>
				<div class="table-responsive">
					<div style="float: left">
						<a href="#address-add"><button type="button"
								class="btn btn-success">{{ message }}</button></a>
					</div>
					
					<br /> <br />

					<div class="form-group">
						<input type="search" ng-model="search" placeholder="Buscar por...">
					</div>
					<table ng-hide="addressList.length == 0"
						class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Endereço</th>
								<th>Complemento</th>
								<th>Bairro</th>
								<th>CEP</th>
								<th>Telefone</th>
								<th style="width: 20px;">&nbsp;</th>
								<th style="width: 20px;">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="address in addressList | pagination: curPage * pageSize | limitTo: pageSize | orderBy:orderBy | filter:search">
								<td>{{address.addressid}}&nbsp;</td>
								<td>{{address.address}}&nbsp;</td>
								<td>{{address.address2}}&nbsp;</td>
								<td>{{address.district}}&nbsp;</td>
								<td>{{address.postalcode}}&nbsp;</td>
								<td>{{address.phone}}&nbsp;</td>
								<td><a data-ng-click="editAddress(address.addressid)"
									class="btn btn-small btn-primary">Editar</a></td>
								<td><a data-ng-click="deleteAddress(address.addressid)"
									class="btn btn-small btn-danger">Deletar</a></td>
							</tr>
						</tbody>
					</table>
					<div class="pagination pagination-centered"
						ng-show="addressList.length">
						<ul class="pagination-controle pagination">
							<li>
								<button type="button" class="btn btn-primary"
									ng-disabled="curPage == 0" ng-click="curPage=curPage-1">
									&lt; ANT</button>
							</li>
							<li><span>Página {{curPage + 1}} De {{ numberOfPages()}}</span></li>
							<li>
								<button type="button" class="btn btn-primary"
									ng-disabled="curPage >= addressList.length/pageSize - 1"
									ng-click="curPage = curPage+1">PROX &gt;</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<em ng-show="addressList.length == 0">Não Há Endereços
				Cadastrados.</em>
		</div>
	</div>
</div>