<meta charset="utf-8">
<meta name="description" content="Address-Edit Page">
<meta name="author" content="Jota/Leandro">

<div data-ng-controller="addressController">
	<form data-ng-submit="update()" data-ng-init="init()">
		<fieldset>
			<legend>
				{{titleEdit}}<br /> <br />
			</legend>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="neighbourhoodid">Bairro:</label>
					<select class="form-control"
						data-ng-model="newAddress.neighbourhoodid"
						data-ng-options="neighbourhood.neighbourhoodid as neighbourhood.neighbourhood for neighbourhood in neighbourhoodList"
						required></select><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="street">Rua:</label> <input
						class="form-control" type="text" name="street" id="street"
						data-ng-model="newAddress.street" placeholder="Sua Rua" required /><br />
				</div>
				<div class="col-xs-9">
					<label class="control-label" for="complement">Complemento:</label>
					<input class="form-control" type="text" name="complement"
						id="complement" data-ng-model="newAddress.complement"
						placeholder="Complemento de Endereço" required /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="postalcode">CEP:</label> <input
						class="form-control" type="text" name="postalcode" id="postalcode"
						data-ng-model="newAddress.postalcode" placeholder="Seu CEP"
						required /><br />
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="saveEdit" class="btn btn-primary"
						value="Salvar" />
				</div>
			</div>
		</fieldset>
	</form>
</div>
