<meta charset="utf-8">
<meta name="description" content="Address-Add Page">
<meta name="author" content="Jota/Leandro">

<div class="container" data-ng-controller="addressController">
	<form data-ng-submit="register()">
		<fieldset>
			<legend>
				{{titleAdd}}<br /> <br />
			</legend>

			<div class="form-group">
				<div class="col-xs-9">
					<div ng-hide="!successMessage" class="success">
						<div class="alert alert-success">
							<div>{{successMessage}}</div>
						</div>
					</div>
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="postalcode">CEP:</label> <input
						class="form-control" type="text" name="postalcode" id="postalcode"
						data-ng-model="newAddress.postalcode" placeholder="Seu CEP"
						required /><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="neighbourhoodid">Bairro:</label> <select
						class="form-control" data-ng-model="newAddress.neighbourhoodid"
						data-ng-options="neighbourhood.neighbourhoodid as neighbourhood.neighbourhood for neighbourhood in neighbourhoodList"></select><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="cityid">Cidade:</label> <select
						class="form-control" data-ng-model="newAddress.neighbourhoodid.cityid"
						data-ng-options="city.cityid as city.city for city in cityList"></select><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="neighbourhoodid">Estado:</label>
					<input type="text" class="form-control" disabled="disabled" /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="neighbourhoodid">País:</label> <input
						type="text" class="form-control" disabled="disabled" /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="street">Rua:</label> <input
						class="form-control" type="text" name="street" id="street"
						data-ng-model="newAddress.street" placeholder="Sua Rua" required /><br />
				</div>
				<div class="col-xs-9">
					<label class="control-label" for="complement">Complemento:</label>
					<input class="form-control" type="text" name="complement"
						id="complement" data-ng-model="newAddress.complement"
						placeholder="Complemento de Endereço" required /><br />
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="register" class="btn btn-primary"
						value="Registrar" /> <input type="button" data-ng-click="reset()"
						class="btn btn-default" value="Limpar" />
				</div>
			</div>
		</fieldset>
	</form>
</div>