<meta charset="utf-8">
<meta name="description" content="Address-Edit Page">
<meta name="author" content="Jota/Leandro">

<div data-ng-controller="addressController">
	<form data-ng-submit="update()" data-ng-init="init()">
		<fieldset>
			<legend>
				{{titleEdit}}<br /> <br />
			</legend>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="cityid">Cidade:</label> <select
						class="form-control" data-ng-model="updateAddress.cityid"
						data-ng-options="city.cityid as city.city for city in cityList"
						required></select><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="address">Endereco:</label> <input
						class="form-control" type="text" name="address" id="address"
						data-ng-model="updateAddress.address" placeholder="Seu Endereço"
						required /><br />
				</div>
				<div class="col-xs-9">
					<label class="control-label" for="address2">Complemento:</label> <input
						class="form-control" type="text" name="address2" id="address2"
						data-ng-model="updateAddress.address2"
						placeholder="Complemento de Endereço" required /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="district">Bairro:</label> <input
						class="form-control" type="text" name="district" id="district"
						data-ng-model="updateAddress.district" placeholder="Seu Bairro"
						required /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="postalcode">CEP:</label> <input
						class="form-control" type="text" name="postalcode" id="postalcode"
						data-ng-model="updateAddress.postalcode" placeholder="Seu CEP"
						required /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="phone">Telefone:</label> <input
						class="form-control" type="text" name="phone" id="phone"
						data-ng-model="updateAddress.phone" placeholder="Seu Telefone"
						required /><br />
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="saveEdit" class="btn btn-primary"
						value="Salvar" />
				</div>
			</div>
		</fieldset>
	</form>
</div>
