<div data-ng-controller="cityController">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<h3>{{ title }}</h3>
				</div>
				<div class="table-responsive">
					<div style="float: left">
						<a href="#city-add"><button type="button"
								class="btn btn-success">{{ message }}</button></a>
					</div>
					<br /> <br />
					<table ng-hide="cities.length == 0"
						class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Cidade</th>
								<th style="width: 20px;">&nbsp;</th>
								<th style="width: 20px;">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="city in cityList">
								<td>{{city.cityid}}&nbsp;</td>
								<td>{{city.city}}&nbsp;</td>
								<td><a data-ng-click="editCity(city.cityid)"
									class="btn btn-small btn-primary">Editar</a></td>
								<td><a data-ng-click="deleteCity(city.cityid)"
									class="btn btn-small btn-danger">Deletar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>