<div data-ng-controller="countryController">
	<form data-ng-submit="update()" data-ng-init="init()">
		<fieldset>
			<div>
				{{title}}<br /> <br />
			</div>

			<div>
				<label for="country">Nome do Pais:</label> <input type="text"
					name="country" id="country" data-ng-model="updateCountry.country"
					placeholder="Nome do Pais" />
			</div>

			<input type="submit" id="update" value="Atualizar" /> <input
				type="button" data-ng-click="reset()" name="cancel" id="cancel"
				value="Cancelar" /><br />
		</fieldset>
	</form>
</div>
