<div data-ng-controller="countryController">
	<form id="reg" data-ng-submit="register()">
		<fieldset>
			<div>
				{{title}}<br /> <br />
			</div>

			<div>
				<label for="country">Nome do País:</label> <input type="text"
					name="country" id="country"
					data-ng-model="newCountry.country"
					placeholder="Nome do Pais" />
			</div>

			<input type="submit" id="register" value="Registrar" /> <input
				type="button" data-ng-click="reset()" name="cancel" id="cancel"
				value="Cancelar" /><br />
		</fieldset>
	</form>
</div>