<meta charset="utf-8">
<meta name="description" content="Country-Add Page">
<meta name="author" content="Jota/Leandro">

<div class="container" data-ng-controller="countryController">
	<form id="reg" data-ng-submit="register()">
		<fieldset>
			<legend>
				{{titleAdd}}<br /> <br />
			</legend>

			<div class="form-group">
				<div class="col-xs-9">
					<div ng-hide="!successMessage" class="success">
						<div class="alert alert-success">
							<div>{{successMessage}}</div>
						</div>
					</div>
				</div>
			</div>
			
			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="country">Nome do Pais:</label> <input
						class="form-control" type="text" name="country" id="country"
						data-ng-model="newCountry.country" placeholder="Nome do Pais" /><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="register" class="btn btn-primary"
						value="Registrar" /> <input type="button" data-ng-click="reset()"
						name="cancel" id="cancel" class="btn btn-default" value="Limpar" />
				</div>
			</div>
		</fieldset>
	</form>
</div>