<div data-ng-controller="countryController">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<h3>{{ title }}</h3>
				</div>
				<div class="table-responsive">
					<div style="float: left">
						<a href="#country-add"><button type="button"
								class="btn btn-success">{{ message }}</button></a>
					</div>
					<br /> <br />
					<table ng-hide="countries.length == 0"
						class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Pais</th>
								<th style="width: 20px;">&nbsp;</th>
								<th style="width: 20px;">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="country in countryList">
								<td>{{country.countryid}}&nbsp;</td>
								<td>{{country.country}}&nbsp;</td>
								<td><a data-ng-click="editCountry(country.countryid)"
									class="btn btn-small btn-primary">Editar</a></td>
								<td><a data-ng-click="deleteCountry(country.countryid)"
									class="btn btn-small btn-danger">Deletar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>