<div data-ng-controller="customerController">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<h3>{{ title }}</h3>
				</div>
				<div class="table-responsive">
					<div style="float: left">
						<a href="#customer-add"><button type="button"
								class="btn btn-success">{{ message }}</button></a>
					</div>
					<br /> <br />
					<table ng-hide="customers.length == 0"
						class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Primeiro Nome</th>
								<th>Segundo Nome</th>
								<th>Email</th>
								<th style="width: 20px;">&nbsp;</th>
								<th style="width: 20px;">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="customer in customerList">
								<td>{{customer.customerid}}&nbsp;</td>
								<td>{{customer.firstname}}&nbsp;</td>
								<td>{{customer.lastname}}&nbsp;</td>
								<td>{{customer.email}}&nbsp;</td>
								<td><a data-ng-click="editCustomer(customer.customerid)"
									class="btn btn-small btn-primary">Editar</a></td>
								<td><a data-ng-click="deleteCustomer(customer.customerid)"
									class="btn btn-small btn-danger">Deletar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>