<div data-ng-controller="customerController">
	<table>
		<thead>
			<tr>
				<td>{{title}}<br /></td>
			</tr>

			<tr>
				<th>Id</th>
				<th>Primeiro Nome</th>
				<th>Segundo Nome</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="customer in customerList">
				<td>{{customer.customerid}}&nbsp;</td>
				<td>{{customer.firstname}}&nbsp;</td>
				<td>{{customer.lastname}}&nbsp;</td>
				<td>{{customer.email}}&nbsp;</td>
				<td><input type="button" value="Editar"
					data-ng-click="editCustomer(customer.customerid)"></td>
				<td><input type="button" value="Deletar"
					data-ng-click="deleteCustomer(customer.customerid)"></td>
			</tr>
		</tbody>
	</table>
</div>
