<meta charset="utf-8">
<meta name="description" content="Customer-Add Page">
<meta name="author" content="Jota/Leandro">

<div class="container" data-ng-controller="customerController">
	<form data-ng-submit="register()">
		<fieldset>
			<legend>
				{{titleAdd}}<br /> <br />
			</legend>

			<div class="form-group">
				<div class="col-xs-9">
					<div ng-hide="!successMessage" class="success">
						<div class="alert alert-success">
							<div>{{successMessage}}</div>
						</div>
					</div>
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="addressid">Endereço:</label> <select
						class="form-control" data-ng-model="newCustomer.addressid"
						data-ng-options="address.addressid as address.address for address in addressList"></select><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="firstname">Primeiro Nome:</label>
					<input class="form-control" type="text" name="firstname"
						id="firstname" data-ng-model="newCustomer.firstname"
						placeholder="Seu Primeiro Nome" /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="lastname">Segundo Nome:</label> <input
						class="form-control" type="text" name="lastname" id="lastname"
						data-ng-model="newCustomer.lastname" placeholder="Seu Sobrenome" /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="email">Email:</label> <input
						class="form-control" type="text" name="email" id="email"
						data-ng-model="newCustomer.email" placeholder="Seu Email" /><br />
				</div>

				<div class="col-xs-9">
					<label class="control-label" for="createdate">Data de
						Criação:</label> <input class="form-control" type="text" name="createdate"
						id="createdate" data-ng-model="newCustomer.createdate"
						placeholder="Data de Hoje" /><br />
				</div>

				<br />

				<div class="form-group">
					<div class="col-xs-9">
						<input type="submit" id="register" class="btn btn-primary"
							value="Registrar" /> <input type="button"
							data-ng-click="reset()" class="btn btn-default" name="cancel"
							id="cancel" value="Limpar" />
					</div>
				</div>
		</fieldset>
	</form>
</div>