<div data-ng-controller="customerController">
	<table>
		<thead>
			<tr>
				<td>{{title}}<br /></td>
			</tr>

			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="customer in customerList">
				<td>{{customer.firstname}}&nbsp;</td>
				<td>{{customer.lastname}}&nbsp;</td>
				<td>{{customer.email}}&nbsp;</td>
				<td><a data-ng-click="editCustomer(customer.id)">edit</a></td>
				<td><a data-ng-click="deleteCustomer(customer.id)">delete</a></td>
			</tr>
		</tbody>
	</table>
</div>
