<div data-ng-controller="customerController">
	<form data-ng-submit="register()">
		<fieldset>
			<div>
				{{title}}<br /> <br />
			</div>

			<div>
				<label for="addressid">Endereco:</label> <select
					data-ng-model="newCustomer.addressid"
					data-ng-options="address.addressid as address.address for address in addressList"></select><br />
			</div>

			<div>
				<label for="firstname">Primeiro Nome:</label> <input type="text"
					name="firstname" id="firstname"
					data-ng-model="newCustomer.firstname"
					placeholder="Seu Primeiro Nome" /><br />
			</div>

			<div>
				<label for="lastname">Segundo Nome:</label> <input type="text"
					name="lastname" id="lastname" data-ng-model="newCustomer.lastname"
					placeholder="Seu Sobrenome" /><br />
			</div>

			<div>
				<label for="email">Email:</label> <input type="text" name="email"
					id="email" data-ng-model="newCustomer.email"
					placeholder="Seu Email" /><br />
			</div>
			
			<div>
				<label for="createdate">Data de criacao:</label> <input type="text" name="createdate"
					id="createdate" data-ng-model="newCustomer.createdate"
					placeholder="Ex: 10/12/2015" /><br />
			</div>

			<input type="submit" id="register" value="Registrar" /> <input
				type="button" data-ng-click="reset()" name="cancel" id="cancel"
				value="Cancelar" /><br />
		</fieldset>
	</form>
</div>