<meta charset="utf-8">
<meta name="description" content="Neighbourhood-Add Page">
<meta name="author" content="Jota/Leandro">

<div class="container" data-ng-controller="neighbourhoodController">
	<form data-ng-submit="register()">
		<fieldset>
			<legend>
				{{titleAdd}}<br /> <br />
			</legend>

			<div class="form-group">
				<div class="col-xs-9">
					<div ng-hide="!successMessage" class="success">
						<div class="alert alert-success">
							<div>{{successMessage}}</div>
						</div>
					</div>
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="cityid">Cidade:</label> <select
						class="form-control" data-ng-model="newNeighbourhood.cityid"
						data-ng-options="city.cityid as city.city for city in cityList"
						required></select><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="neighbourhood">Bairro:</label> <input
						class="form-control" type="text" name="neighbourhood"
						id="neighbourhood" data-ng-model="newNeighbourhood.neighbourhood"
						placeholder="Seu Bairro" required /><br />
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="register" class="btn btn-primary"
						value="Registrar" /> <input type="button" data-ng-click="reset()"
						class="btn btn-default" value="Limpar" />
				</div>
			</div>
		</fieldset>
	</form>
</div>