<meta charset="utf-8">
<meta name="description" content="State-Edit Page">
<meta name="author" content="Jota/Leandro">

<div data-ng-controller="stateController">
	<form data-ng-submit="update()" data-ng-init="init()">
		<fieldset>
			<legend>
				{{titleEdit}}<br /> <br />
			</legend>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="countryid">País:</label> <select
						class="form-control" data-ng-model="updateState.countryid"
						data-ng-options="country.countryid as country.country for country in countryList"></select><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="state">Estado:</label> <input
						class="form-control" type="text" name="state" id="state"
						data-ng-model="updateState.state" placeholder="Nome do Estado" /><br />
				</div>
			</div>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="saveEdit" class="btn btn-primary"
						value="Salvar" /> 
				</div>
			</div>
		</fieldset>
	</form>
</div>
