<div class="container" ng-controller="customerController">
	<form id="reg" ng-submit="createNewCustomer()" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<div class="col-xs-12">
					<label class="control-label" for="firstname">Primeiro Nome:</label><br />
					<input type="text" name="firstname" id="firstname"
						ng-model="newCustomer.firstname" placeholder="Seu Nome" required
						autofocus class="form-control" select-all-on-focus="" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-3">
					<label class="control-label" for="lastname">Segundo Nome:</label><br />
					<input type="text" name="lastname" id="lastname"
						ng-model="newCustomer.lastname" placeholder="Seu Sobrenome"
						required autofocus class="form-control" />
				</div>
				<div class="col-xs-3">
					<label class="control-label" for="email">Email:</label><br /> <input
						type="text" name="email" id="email" ng-model="newCustomer.email"
						placeholder="Seu Email" required autofocus class="form-control" />
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-12">
					<input type="submit" id="register" class="btn btn-primary"
						value="Register">
				</div>
			</div>
		</fieldset>
	</form>
</div>